@import './FilterDropdown/FilterDropdown.scss';
@import './Filter/Filter.scss';
@import './NumberPortalverse/NumbersPortalverse.scss';
@import './Breadcrumbs/Breadcrumbs.scss';
@import './Input/Input.scss';
@import './Richtext/Richtext.scss';
@import './BannerNumeralia/BannerNumeralia.scss';
@import './Accordion/Accordion.scss';
@import './CardProgram/CardProgram.scss';
@import './Numbers/Numbers.scss';
@import './Button/Button.scss';
@import './Input/Input.scss';
@import './HeaderPortalverse/HeaderPortalverse.scss';
@import './OutstandingModule/OutstandingModule.scss';
@import './Modal/Modal.scss';
@import './Editor/Editor.scss';