# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.npmrc

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify

# public files
/public/robots.txt
/public/sitemap*

#multitenant
/.env
/multitenant-images.ts
/tailwind.config.js
fontlinks.ts
multitenant-errors.ts
config/alumnos.json
config/becas.json
config/CESEPCOM.json
config/directorio.json
config/egresados-talento.json
config/egresados.json
config/empleabilidad.json
config/faq.json
config/footer.json
config/header.json
config/home.json
config/internacionalizacion.json
config/landing-admisiones.json
config/modelo-educativo.json
config/pedir-informacion.json
config/planteles.json
config/ponte-en-contacto.json
config/somos-uteg.json
config/thank-you.json
config/vida-estudiantil.json
config/vinculacion-empresarial.json
config/oferta-educativa/bachillerato.json
config/oferta-educativa/licenciatura.json
config/oferta-educativa/maestria.json
routes/actions.ts
routes/breadcrumbs.labels.ts
routes/Routes.ts
