div {
  lottus-input {
    div.input-wrapper {
      div.field {
        div.inputbody {
          input {
            width: 100% !important;
            padding-top: 2.25rem !important;
            &::placeholder {
              color: #282828 !important;
            }
          
            &:focus {
              height: 2.625rem !important;
            }
          }
        
        }
      }
    }
  }
}