lottus-rich-text {
  > markdown {
    h1, h2, h3, h4, h5, h6 {
      @apply font-Poppins mb-6 #{!important};
    }
    h1, h2, h3 {
      @apply font-bold #{!important};
    }
    h1, h2 {
      @apply leading-[36px] w-d:leading-[60px] w-p:text-7.5 w-t:text-8.5 w-d:text-13 #{!important};
    }
    h3 {
      @apply leading-[30px] w-d:leading-[50px] w-p:text-6 w-t:text-8.5 text-10 #{!important};
    }
    h4, h5, h6 {
      @apply text-base font-semibold leading-5 #{!important};
    }
    ul li {
      @apply list-disc #{!important};
    }
    table {
        tr {
          td {
            a {
              @apply font-bold w-p:break-all #{!important}
            }
            @apply w-p:px-4 px-7 w-p:py-6 py-9 font-bold align-top #{!important}
          }
          @apply first:bg-[#F9F9F9] first:border-b first:border-[#D9D9D9] #{!important}
        }
    }
  }
}

div {
  &.dark {
    > lottus-rich-text {
      > markdown{
        * {
          color: white;
          @apply font-Nunito-Sans font-normal text-base leading-5;
        }

        p {
          b {
            font-weight: 700;
          }
          @apply last:mb-0
        }
        ul {
          list-style-type: circle;
        }
      }
    }
  }
  &.light {
    > lottus-rich-text {
      > markdown{
        * {
          color: black;
          @apply font-Nunito-Sans font-normal text-base leading-5;
        }

        p {
          b {
            font-weight: 700;
          }
          @apply last:mb-0
        }
        ul {
          list-style-type: circle;
        }
      }
    }
  }
  &.transparent {
    > lottus-rich-text {
      > markdown{
        * {
          color: black;
          @apply font-Nunito-Sans font-normal text-base leading-5;
        }

        p {
          b {
            font-weight: 700;
          }
          @apply last:mb-0
        }
        ul {
          list-style-type: circle;
        }
      }
    }
  }
}