div {
  lottus-accordion {
    div.accordion-component {
      div.container {
        @apply px-4 py-6;
        max-width: 100% !important;
        @media (min-width: 1024px) {
          max-width: 100% !important;
        }
        markdown {
          * {
            @apply font-Nunito-Sans font-normal;
          }
        }
      }
    }
  }
}